
@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
:root{
  --cor-primaria: #443627;
  --cor-secundaria: #F2F6D0;
  --cor-terciaria: #D98324;
  --cor-hover: #F2F6D0;
  --fonte-primaria: "Krona One", sans-serif;
  --fonte-secundaria: "Montserrat", sans-serif;
}

* {
    margin: 0;
    padding: 0;
}
body {
   box-sizing: border-box;
   background-color: var(--cor-primaria);
   color: var(--cor-secundaria);
}

.menu{
display: flex;
gap: 24px;
padding: 3% 0% 0% 10%;

}

.menu_link{
color: var(--cor-terciaria);
text-decoration: none;
font-family: var(--fonte-secundaria);
font-weight: 600;
opacity: 0.6;
transition: 0.3s;

}

.menu_link:hover{
    opacity: 1;
  }
  
.titulo-destaque {
color: var(--cor-terciaria);
}
.apresentacao {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8% 15%;
}
.apresentacao_conteudo { 
  display: flex;
  width: 615px;
  flex-direction: column;
  gap: 40px;
}
.apresentacao_conteudo_titulo {
  font-size: 36px;
  font-family: var(--fonte-primaria);
}
.apresentacao_conteudo_texto {
   font-size: 24px;
   font-family: var(--fonte-secundaria);
}

.apresentacao_links {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   align-items: center;
   gap: 32px;
}
.apresentacao_link_subtitulo{
  font-family: var(--fonte-primaria);
  font-weight: 400;
  font-size: 24px;

}

.botoes {
  width: 378px;
  text-align: center;
  border-radius: 8px;
  border: 2px solid var(--cor-terciaria);
  font-size: 24px;
  padding: 21.5px 0;
  text-decoration: none;
  color: var(--cor-secundaria);
  font-family: var(--fonte-secundaria);
  font-weight: 600;
  margin: 4px 2px;
  opacity: 0.6;
  transition: 0.3s;
}

.botoes:hover{
  background-color: var(--cor-hover);
  opacity: 1;
  color: var(--cor-terciaria);
}

.image{
   margin: 20px;
}

.rodape{
padding: 24px;
color: var(--cor-primaria);
background-color: var(--cor-terciaria);
font-family: var(--fonte-secundaria);
font-weight: 400;
font-size: 24px;
text-align: center;
}

.link_cursos{
color: var(--cor-terciaria);
text-decoration: none;
}