
@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
* {
    margin: 0;
    padding: 0;
}
body {
   height: 100vh;
   box-sizing: border-box;
   background-color: #000000;
   color: #F6F6F6;
}
.titulo-destaque {
color: #22D4FD;
}
.apresentacao {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10% 15%;
}
.apresentacao_conteudo { 
  display: flex;
  width: 615px;
  flex-direction: column;
  gap: 40px;
}
.apresentacao_conteudo_titulo {
  font-size: 36px;
  font-family: "Krona One", sans-serif;
}
.apresentacao_conteudo_texto {
   font-size: 24px;
   font-family: "Montserrat", sans-serif;
}

.apresentacao_links {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   align-items: center;
   gap: 32px;
}
.apresentacao_link_subtitulo{
  font-family: "Krona One", sans-serif;
  font-weight: 400;
  font-size: 24px;


}

.botoes {
  width: 378px;
  text-align: center;
  border-radius: 8px;
  border: 2px solid #22D4FD;
  font-size: 24px;
  padding: 21.5px 0;
  text-decoration: none;
  color: #F6F6F6;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}

.image{
   margin: 20px;
}
